{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Student</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'student_home' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Students</li>
             </ul>
          </div>
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   {% comment %} <table class="table table-hover table-center mb-0 "> {% endcomment %}
                   <table id="table_id"class="table table-hover table-center mb-0 ">
                      <thead>
                         <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Grade</th>
                            <th>Gender</th>
                            <th>Batch Year</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for i in affiliated_students %}
                        <tr>
                            <td>
                               <h2 class="table-avatar">
                                {% if i.admin.profile_pic %}
                                    <a  class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{i.admin.profile_pic}}" alt="User Image"></a>
                                {% else %}
                                    <a  class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/NoImg.png'%}" alt="No Image"></a>
                                {% endif %}
                                    <a href="{% url 'hod_view_profile_student' i.id %}">{{i.admin.first_name}} &nbsp; {{i.admin.last_name}}</a>
                               </h2>
                            </td>
                            <td>{{i.admin.email}}</td>
                            <td>{{i.course_id.name}}</td>
                            <td>{{i.gender}}</td>
                            <td>{{i.batch_id.batch_start}} To {{i.batch_id.batch_end}}</td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}