{% extends 'base.html' %}
{% block content %}
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Edit Batch</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item">Batch</a></li>
                  <li class="breadcrumb-item active">Edit Batch</li>
               </ul>
            </div>
         </div>
      </div>
      {% include 'includes/messages.html' %}
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form action="{% url 'update_batch' %}" method="post">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Batch Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Batch Year Start</label>
                              <input type="text" class="form-control" name="batch_id" value="{% for i in batch %}{{i.id}}{% endfor %}" required hidden>
                              <input type="text" class="form-control" name="batch_start" value="{% for i in batch %}{{i.batch_start}}{% endfor %}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Batch Year End</label>
                              <input type="text" class="form-control" name="batch_end" value="{% for i in batch %}{{i.batch_end}}{% endfor %}" required>
                           </div>
                        </div>
                        <!-- Update Batch Button -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateConfirmationModal">
                           Update Batch
                        </button>

                        {% comment %} <div class="col-12 mt-2">
                           <button type="submit" class="btn btn-primary">Update Batch</button>
                        </div> {% endcomment %}
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--from here-->


<!-- Modal -->
<div class="modal fade" id="updateConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="updateConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateConfirmationModalLabel">Confirm Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to update the batch? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <!-- Submit the form when this button is clicked -->
                <button type="button" class="btn btn-primary" onclick="submitUpdateForm()">Update</button>
            </div>
        </div>
    </div>
</div>

<!--upto here-->
{% endblock %}
    
    