{% extends 'base.html'%}
{% block content%}

<div class="row">
    <div class="col-sm-12">     
       <div class="card">
          <div class="card-body">
            <form method="post" action="{% url 'update_student' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                   <div class="col-12">
                      <h5 class="form-title"><span>Edit Student</span></h5>
                   </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            {% else %}
                              {{message}}
                            {% endif %}
                        {% endfor %}
                     {% endif %}
                     <hr>
                      <div class="form-group">
                        <label>Profile Pic</label>
                        {% for stud in student %}
                           <!-- Display existing profile picture -->
                           {% if stud.admin.profile_pic %}
                              <img src="{{ stud.admin.profile_pic.url }}" alt="Profile Picture" style="max-width: 150px; margin-bottom: 10px;">
                           {% else %}
                              <p>No profile picture available.</p>
                           {% endif %}
                           <!-- File input for uploading a new profile picture -->
                           <input type="file" class="form-control" name="profile_pic">
                           <input type="text" class="form-control" name="student_id" value="{{ stud.admin.id }}" hidden>
                           <input type="text" class="form-control" name="studentid" value="{{ stud.id }}" hidden>
                        {% endfor %}
                     </div>

                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <input type="text" class="form-control" name="roll" value="{% for i in student %}{{i.rollno}}{% endfor %}" hidden >
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>First Name</label>
                         <input type="text" class="form-control" name="first_name" value="{% for i in student %}{{i.admin.first_name}}{% endfor %}" >
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Last Name</label>
                         <input type="text" class="form-control" name="last_name" value="{% for i in student %}{{i.admin.last_name}}{% endfor %}" >
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                       <div class="form-group">
                          <label>Email </label>
                         <input type="text" class="form-control" name="email" value="{% for i in student %}{{i.admin.email}}{% endfor %}"  >
                        </div>
                   </div>
                   <div class="col-12 col-sm-6">
                       <div class="form-group">
                          <label>Username</label>
                         <input type="text" class="form-control" name="username" value="{% for i in student %}{{i.admin.username}}{% endfor %}"  >
                        </div>
                   </div>
                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control" name="gender" required>
                              <option value='' >Select Gender</option>
                              <option value="Female" {% for i in student %}{% if i.gender == "Female" %}selected{% endif %}{% endfor %}>Female</option>
                              <option value="Male" {% for i in student %}{% if i.gender == "Male" %}selected{% endif %}{% endfor %}>Male</option>
                              <option value="Others" {% for i in student %}{% if i.gender == "Others" %}selected{% endif %}{% endfor %}>Others</option>
                        </select>
                     </div>
                  </div>

                   <div class="col-12 col-sm-6">
                     <label>Grade</label>
                        <select class="form-control" name="course_id" required>
                           <option value=''>Select Grade</option>
                           {% for i in course %}
                           <option value="{{i.id}}" {% for j in student %}{% if j.course_id.id == i.id %}selected{% endif %}{% endfor %} >{{i.name}}</option>
                           {% endfor %}
                        </select> 

                   </div> 
                   <br>

                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>Session Year</label>
                        <select class="form-control" name="batch_id" required>
                              <option value=''>Select Batch year</option>
                              {% for i in batch %}
                                 <option value="{{ i.id }}" {% for j in student %}{% if j.batch_id.id == i.id %}selected{% endif %}{% endfor %}>
                                    {{ i.batch_start }} To {{ i.batch_end }}
                                 </option>
                              {% endfor %}
                        </select>
                     </div>
                  </div>


                  <div class="col-sm-6">
                      <div class="form-group">
                         <label>Address</label>
                         <textarea class ="form-control" name="address" >{% for i in student %}{{i.address}}{% endfor %}</textarea>
                      </div>
                 </div>
                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Password</label>
                       <input type="password" class="form-control" name="password" placeholder="Fill Only If You Want To Change Password">
                 </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Update Student</button>
                   </div>
            </form>
          </div>
       </div>
    </div>
</div>


{% endblock %}