{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Student</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Students</li>
             </ul>
          </div>
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   {% comment %} <table class="table table-hover table-center mb-0 "> {% endcomment %}
                   <table id="table_id"class="table table-hover table-center mb-0 ">
                      <thead>
                         <tr>
                            {% if user.user_type == "1" or user.user_type == "2" %}
                            <th>ID</th>
                            {% endif %}
                            <th>Name</th>
                            {% if user.user_type == "1" or user.user_type == "2" %}
                            <th>Email</th>
                            {% endif %}
                            <th>Grade</th>
                            <th>Gender</th>
                            {% if user.user_type == "1" or user.user_type == "2" %}
                            <th>Address</th>
                            {% endif %}
                            <th>Session Year</th>
                            {% if user.user_type == "1"%}
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th class="text-right">Action</th>
                            {% endif %}
                         </tr>
                      </thead>
                      <tbody>
                        {% for i in student %}
                        <tr>
                           {% if user.user_type == "1" or user.user_type == "2" %} 
                            <td>{{i.id}}</td>
                           {% endif %} 
                            <td>
                               <h2 class="table-avatar">
                                {% if i.admin.profile_pic %}
                                    <a  class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{i.admin.profile_pic}}" alt="User Image"></a>
                                {% else %}
                                    <a  class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/NoImg.png'%}" alt="No Image"></a>
                                {% endif %}
                                {{i.admin.first_name}} &nbsp; {{i.admin.last_name}}</a>
                               </h2>
                            </td>
                            {% if user.user_type == "1" or user.user_type == "2" %}
                            <td>{{i.admin.email}}</td>
                            {% endif %}
                            <td>{{i.course_id.name}}</td>
                            <td>{{i.gender}}</td>
                            {% if user.user_type == "1" or user.user_type == "2" %}
                            <td>{{i.address}}</td>
                            {% endif %}
                            <td>{{i.session_year_id.session_start}}To{{i.session_year_id.session_end}}</td>
                            {% if user.user_type == "1"%}
                            <td>{{i.created_at}}</td>
                            <td>{{i.updated_at}}</td>
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'edit_student' i.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'delete_student' i.admin.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                              </td>
                              {% endif %}
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}